body{
	font-family: Roboto;
}

img{
	max-width: 100%;
}

.container {
	& > .md-whiteframe-4dp{
		background-color: $white;
	}
}

.add-box-wrapper{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 75%;

	.add-box{
		.search-control{
			input[type="text"]{
				width: 95%;
				margin: 0 auto;
			}

			button{
				margin-top: 15px !important;
			}

		}

		.select-filters{
			md-select{
				max-width: 70%;
			}
		}
	}

	
}


.checkbox-select-container{
	md-select{
		margin-top: 0;
		margin-bottom: 16px;
		margin-left: 1px;
		position: relative;
		top: -2px;
	}
}